# ‚úèÔ∏è Outline / Pitch

This year, China faced its worst power shortage in a decade, which rippled across factories and households recently. Power rationing for factories and businesses became in effect, with some provinces ordering factories to halt production for a few days each week. Reactions from citizens are a mix of fear and frustration, as power cuts are often made with no warning. It not only affected China‚Äôs domestic social order but also raised international concerns.

Why has China been hit by power shortages? There are two major interconnected explanations. For one thing, the country struggled to balance electricity supplies with demand, which was boosted during the pandemic. For another, with Beijing attempting to make the country carbon neutral by 2060, China is trying to slow coal production, which accounts for the majority of China‚Äôs electricity resources. However, despite many discussions surrounding these two arguments, little data has been cited as evidence. So I want to make some efforts to fill the gap and do some experimental exploration.

In my notebook, I drew data from China‚Äôs official websites and Wikipedia, looking at these two explanations by 4 visualized pictures. I divided my notebook into three parts. 

I offered an overview of China‚Äôs electricity generation & consumption situation and power resources in 2021 by utilizing the recent 9 reports released by China Electricity Council (CEC)ÔºàSince the reports were in PDF formats, I had to manually adjust them). From the ‚ÄúChart: Electricity Deficit in China (2021))‚Äù [line 11], we can see a status of electricity deficit in China in the past 9 months, which is especially severe in May and August. If we compare this chart to the ‚ÄúChart: Electricity Generation by Source (2021)‚Äù[line 12], we would find that during August, the electricity generation is relatively high (except for Lunar New Year). However, even with more generation volume, the deficit is still high. It seems to foresee the electricity shortage in September this year.

In the second and third parts, I analyzed how the supply-demand relationship and generation resources changed over time. From ‚ÄúElectricity Surplus in China (generation-consumption) (2001-2019)‚Äù[line 24], we can see that the annual statistic shows the opposite result from the previous monthly statistics, displaying an increasing electricity surplus status. Why is that? I think it‚Äôs necessary to look at the calculating criteria and ask for some expert insights.

Finally, I drew a picture ‚ÄúChart: Electricity Production By Source (2008-2019)‚Äù[line 36]. From this, we can see that fossil fuel, of which coal is a major part, keeps increasing. While at the same time, the amount of electricity generation generated by hydro is also rising. We could see the effort of Beijing developing renewable resources but more comparison analysis is needed if we need to evaluate to what extent such effort works.

---

In [1]:
%load_ext lab_black
import pandas as pd
import altair as alt
import numpy as np

# 1. Electricity Statistics of China in 2021 (Monthly Data)

### *Note:
- Task Description: By utilizing 9 reports released by China Electricity Council (CEC) in 2021
- Preparation before coding: I Downloaded monthly statistics PDF from CEC website, converted pdf into excel with Adobe Acrobat DC, and then double check the data to make sure it's accurate
- Reference: China Electricity Council (CEC):https://english.cec.org.cn/menu/index.html?251

### clean data

In [2]:
df_1 = pd.read_csv("./monthly.csv")

In [3]:
df_1.columns = df_1.columns.str.strip().str.lower()

In [4]:
df_1["electricity generation twh"] = (
    df_1["electricity generation twh"]
    .str.replace("-- Hydro", "Hydro", regex=False)
    .str.replace("-- Thermal", "Thermal", regex=False)
    .str.replace("-- Nuclear", "Nuclear", regex=False)
)

In [5]:
df_1

,electricity generation twh,unit,value,yoy(%),accumulation,yoy(%).1,month
0,Electricity Generation,TWh,1242.8,19.5,NaN,NaN,February
1,Hydro,TWh,129.2,8.5,NaN,NaN,February
2,Thermal,TWh,939.0,18.4,NaN,NaN,February
3,Nuclear,TWh,58.4,23.4,NaN,NaN,February
4,Total Electricity Consumption,TWh,1258.8,22.2,NaN,NaN,February
...,...,...,...,...,...,...,...
139,Hydro,GW,NaN,NaN,384.52,5.1,October
140,Thermal,GW,NaN,NaN,"1,282.89",3.6,October
141,Nuclear,GW,NaN,NaN,53.26,6.8,October
142,-- Wind,GW,NaN,NaN,299.63,30.4,October
143,--Solar,GW,NaN,NaN,282.14,23.7,October

In [6]:
df_1.keys()

Index(['electricity generation twh', 'unit', 'value', 'yoy(%)', 'accumulation',
       'yoy(%).1', 'month'],
      dtype='object')

In [7]:
# rename columns
df_1.columns = ["ge_m"] + [_ for _ in df_1.columns[1:]]
df_1.head(22)

,ge_m,unit,value,yoy(%),accumulation,yoy(%).1,month
0,Electricity Generation,TWh,1242.80,19.5,NaN,NaN,February
1,Hydro,TWh,129.20,8.5,NaN,NaN,February
2,Thermal,TWh,939.00,18.4,NaN,NaN,February
3,Nuclear,TWh,58.40,23.4,NaN,NaN,February
4,Total Electricity Consumption,TWh,1258.80,22.2,NaN,NaN,February
5,-- Primary Industry,TWh,14.20,26.5,NaN,NaN,February
6,-- Secondary Industry,TWh,801.20,25.8,NaN,NaN,February
7,Including: Industrial,TWh,784.30,25.7,NaN,NaN,February
8,-- Tertiary Industry,TWh,231.30,22.5,NaN,NaN,February
9,-- Residential,TWh,212.10,10.0,NaN,NaN,February
10,Installed Generation Capacity,GW,2219.57,9.0,NaN,NaN,February
11,Hydro,GW,370.26,3.5,NaN,NaN,February
12,Thermal,GW,1256.02,4.0,NaN,NaN,February
13,Nuclear,GW,51.04,4.7,NaN,NaN,February
14,-- Wind,GW,284.56,34.3,NaN,NaN,February
15,--Solar,GW,257.28,23.2,NaN,NaN,February
16,Electricity Generation,TWh,657.90,17.4,"1,905.1",19.0,March
17,Hydro,TWh,67.00,-11.5,195.9,0.5,March
18,Thermal,TWh,495.30,25.7,"1,437.9",21.1,March
19,Nuclear,TWh,34.20,11.7,92.6,18.8,March
20,Total Electricity Consumption,TWh,663.10,19.4,"1,921.9",21.2,March
21,-- Primary Industry,TWh,6.80,26.5,21.0,26.4,March

In [8]:
# change data types
df_1["value"] = df_1["value"].astype("float")

### üåü extract the target data (with "while" expression) / calculate discrepancy

In [9]:
import datetime

# 1. Build DataFrame for electricity discrepancy. Notably, here the discrepancy means "consumption - generation"
df_1_gc_dict = {"month": [], "value": []}
index = 0
while index < len(df_1):
    df_1_gc_dict["month"].append(datetime.datetime.strptime(df_1["month"][index], "%B"))
    # new value = original consumption - original generation
    df_1_gc_dict["value"].append(df_1["value"][index + 4] - df_1["value"][index])
    index += 16
df_1_gc = pd.DataFrame.from_dict(df_1_gc_dict)
df_1_gc

       month  value
0 1900-02-01   16.0
1 1900-03-01    5.2
2 1900-04-01   13.1
3 1900-05-01   24.6
4 1900-06-01   17.3
5 1900-07-01   17.2
6 1900-08-01   22.4
7 1900-09-01   19.6
8 1900-10-01   20.9

In [10]:
# 2. Build DataFrame for Different Types of Energy
df_1_type_dict = {"month": [], "type": [], "value": []}
index = 1
while index < len(df_1):
    df_1_type_dict["month"].append(
        datetime.datetime.strptime(df_1["month"][index], "%B")
    )
    df_1_type_dict["type"].append("Hydro")
    df_1_type_dict["value"].append(df_1["value"][index])
    df_1_type_dict["month"].append(
        datetime.datetime.strptime(df_1["month"][index], "%B")
    )
    df_1_type_dict["type"].append("Thermal")
    df_1_type_dict["value"].append(df_1["value"][index + 1])
    df_1_type_dict["month"].append(
        datetime.datetime.strptime(df_1["month"][index], "%B")
    )
    df_1_type_dict["type"].append("Nuclear")
    df_1_type_dict["value"].append(df_1["value"][index + 2])
    index += 16
df_1_type = pd.DataFrame.from_dict(df_1_type_dict)
df_1_type

        month     type  value
0  1900-02-01    Hydro  129.2
1  1900-02-01  Thermal  939.0
2  1900-02-01  Nuclear   58.4
3  1900-03-01    Hydro   67.0
4  1900-03-01  Thermal  495.3
5  1900-03-01  Nuclear   34.2
6  1900-04-01    Hydro   77.6
7  1900-04-01  Thermal  451.7
8  1900-04-01  Nuclear   32.4
9  1900-05-01    Hydro   95.6
10 1900-05-01  Thermal  450.7
11 1900-05-01  Nuclear   34.3
12 1900-06-01    Hydro  114.2
13 1900-06-01  Thermal  481.3
14 1900-06-01  Nuclear   35.9
15 1900-07-01    Hydro  142.2
16 1900-07-01  Thermal  524.0
17 1900-07-01  Nuclear   38.2
18 1900-08-01    Hydro  137.0
19 1900-08-01  Thermal  516.7
20 1900-08-01  Nuclear   36.5
21 1900-09-01    Hydro  140.9
22 1900-09-01  Thermal  452.1
23 1900-09-01  Nuclear   33.2
24 1900-10-01    Hydro  119.4
25 1900-10-01  Thermal  426.4
26 1900-10-01  Nuclear   33.5

### Chart: Elecdtricity Deficit in China (2021)

In [11]:
base_figure = alt.Chart(df_1_gc).encode(x="month:T")
alt.layer(base_figure.mark_line(opacity=0.3, color="blue").encode(y="value:Q"))

alt.LayerChart(...)

### Chart: Electricity Generation by Source (2021)

In [12]:
alt.Chart(df_1_type).mark_area().encode(x="month:T", y=alt.Y("value:Q"), color="type:N")

alt.Chart(...)

___

# 2. Electricity Supply-Demand Balance (Annual Data)

### *Note
- Task description: Utilizing China's national data, I would like to look into the trend of electricity supply-demand balance of China in past 20 years, laying a good foundation for further exploration of the situation of 2021 electricity shortage
- Preperation before coding: Simply download data from China's offcial statistics database (refer to the link below)
- Reference:
National Bureau of Statistics of China:https://data.stats.gov.cn/english/easyquery.htm?cn=C01
BP Statistics (double check):https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html

### read data

In [13]:
df = pd.read_csv("./annual.csv")
df.head()

,Database???Annual,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Year¬£¬∫LATEST20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Indicators,2020.0,2019.0,2018.0,2017.0,2016.0,2015.0,2014.0,2013.0,2012.0,...,2010.0,2009.0,2008.0,2007.0,2006.0,2005.0,2004.0,2003.0,2002.0,2001.0
2,Total Electricity Available for Consumption(10...,NaN,74866.3,71509.2,65914.0,61204.4,58021.3,57830.5,54204.1,49767.7,...,41936.5,37032.7,34540.8,32712.4,28588.4,24940.8,21972.3,19032.2,16466.0,14724.1
3,Outputof Electricity(100 million kw.h),NaN,75034.3,71661.3,66044.5,61331.6,58145.7,57944.6,54316.4,49875.5,...,42071.6,37146.5,34668.8,32815.5,28657.3,25002.6,22033.1,19105.8,16540.0,14808.0
4,Production of Hydro Power Electricity(100 mill...,NaN,13044.4,12317.9,11978.7,11840.5,11302.7,10728.8,9202.9,8721.1,...,7221.7,6156.4,5851.9,4852.6,4357.9,3970.2,3535.4,2836.8,2879.7,2774.3

### üåüreorganize table

In [14]:
# transpose rows and columns
df_t = df.T
df_t.head(22)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
Database???Annual,Year¬£¬∫LATEST20,Indicators,Total Electricity Available for Consumption(10...,Outputof Electricity(100 million kw.h),Production of Hydro Power Electricity(100 mill...,Production of Thermal Power Electricity(100 mi...,Production of Nuclear Power Electricity(100 mi...,Production of Wind Power Electricity(100 milli...,Imports of Electricity(100 million kw.h),Exports of Electricity(100 million kw.h),...,Total Electricity Consumption Industry(100 mil...,Total Electricity Consumption Construction(100...,Total Electricity Consumption Transport Storag...,Total Electricity Consumption Wholesale and Re...,Total Electricity Consumption Others(100 milli...,Total Electricity Consumption Residential(100 ...,Total Electricity Consumption End-use(100 mill...,Total Electricity Consumption Industry End-use...,Losses in Transmission(100 million kw.h),Data Sources¬£¬∫National Bureau of Statistics
Unnamed: 1,NaN,2020.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,NaN,2019.0,74866.3,75034.3,13044.4,52201.5,3483.5,4060.3,48.6,216.5,...,50698.3,991.2,1752.3,3187.1,6263.8,10637.2,71536.0,47368.2,3330.1,NaN
Unnamed: 3,NaN,2018.0,71509.2,71661.3,12317.9,50963.2,2943.6,3659.7,56.9,209.1,...,49094.9,887.8,1608.5,2900.4,5716.5,10057.6,68156.5,45743.2,3351.7,NaN
Unnamed: 4,NaN,2017.0,65914.0,66044.5,11978.7,47546.0,2480.7,2972.3,64.2,194.7,...,46052.8,789.2,1418.0,2526.6,4880.6,9071.6,62718.1,42857.0,3195.8,NaN
Unnamed: 5,NaN,2016.0,61204.4,61331.6,11840.5,44370.7,2132.9,2370.7,61.9,189.1,...,42996.9,725.6,1251.5,2323.8,4394.8,8420.6,58142.2,39934.0,3062.9,NaN
Unnamed: 6,NaN,2015.0,58021.3,58145.7,11302.7,42841.9,1707.9,1857.7,62.1,186.5,...,41550.0,698.7,1125.6,2122.0,3918.6,7565.2,55032.1,38562.1,2987.9,NaN
Unnamed: 7,NaN,2014.0,57830.5,57944.6,10728.8,44001.1,1325.4,1599.8,67.5,181.6,...,42248.7,721.7,1059.2,1995.6,3615.0,7176.1,54729.8,39148.8,3099.9,NaN
Unnamed: 8,NaN,2013.0,54204.1,54316.4,9202.9,42470.1,1116.1,1412.0,74.4,186.7,...,39236.9,675.1,1000.9,1876.9,3397.6,6989.2,51062.7,36096.2,3140.7,NaN
Unnamed: 9,NaN,2012.0,49767.7,49875.5,8721.1,38928.1,973.9,959.8,68.7,176.5,...,36232.2,608.4,915.4,1691.5,3083.6,6219.0,46866.5,33336.1,2896.2,NaN
Unnamed: 10,NaN,2011.0,47002.7,47130.2,6989.4,38337.0,863.5,703.3,65.6,193.1,...,34691.6,571.8,848.4,1503.1,2753.1,5620.1,44300.2,31990.8,2700.7,NaN
Unnamed: 11,NaN,2010.0,41936.5,42071.6,7221.7,33319.3,738.8,446.2,55.5,190.6,...,30871.8,483.2,734.5,1292.0,2451.8,5124.6,39366.3,28303.5,2568.2,NaN
Unnamed: 12,NaN,2009.0,37032.7,37146.5,6156.4,29827.8,701.3,NaN,60.1,173.9,...,26854.5,421.9,617.0,1136.8,2189.9,4872.2,34773.9,24596.3,2258.2,NaN
Unnamed: 13,NaN,2008.0,34540.8,34668.8,5851.9,27900.8,683.9,NaN,38.4,166.4,...,25388.6,367.3,571.8,1017.4,1913.0,4396.1,32403.5,23250.8,2137.9,NaN
Unnamed: 14,NaN,2007.0,32712.4,32815.5,4852.6,27229.3,621.3,NaN,42.5,145.7,...,24290.8,309.0,531.9,929.8,1708.6,4062.7,30650.1,22229.1,2061.7,NaN
Unnamed: 15,NaN,2006.0,28588.4,28657.3,4357.9,23696.0,548.4,NaN,53.9,122.7,...,21267.7,271.0,467.4,847.3,1555.9,3351.6,26729.1,19408.9,1858.8,NaN
Unnamed: 16,NaN,2005.0,24940.8,25002.6,3970.2,20473.4,530.9,NaN,50.1,111.9,...,18521.7,233.9,430.3,752.3,1340.9,2884.8,23233.8,16815.2,1706.5,NaN
Unnamed: 17,NaN,2004.0,21972.3,22033.1,3535.4,17955.9,504.7,NaN,34.0,94.8,...,16424.3,202.1,449.6,705.4,1036.6,2384.5,20550.8,15003.7,1420.6,NaN
Unnamed: 18,NaN,2003.0,19032.2,19105.8,2836.8,15803.6,433.4,NaN,29.8,103.4,...,14169.7,179.8,406.9,613.0,911.0,2058.0,17770.9,12909.0,1260.7,NaN
Unnamed: 19,NaN,2002.0,16466.0,16540.0,2879.7,13381.4,251.3,NaN,23.0,97.0,...,12402.2,154.1,303.0,500.0,728.5,1771.4,15296.8,11233.5,1168.7,NaN
Unnamed: 20,NaN,2001.0,14724.1,14808.0,2774.3,11834.3,174.7,NaN,18.0,101.9,...,10944.7,154.9,309.3,459.9,663.1,1609.2,13690.0,9911.2,1033.5,NaN

In [15]:
# make the first row as index
df_new = pd.DataFrame(df_t.values[1:], columns=df_t.values[0])

In [16]:
# drop empty row
df_new = df_new.drop([0])

### extract the target data

In [17]:
# extract the target data
df_new = df_new.loc[
    :,
    [
        "Indicators",
        "Outputof Electricity(100 million kw.h)",
        "Total Electricity Consumption(100 million kw.h)",
    ],
]

In [18]:
# rename columns
df_new.columns = ["Year", "Production", "Consumption"]

In [19]:
# change data types
df_new["Year"] = pd.to_datetime(df_new["Year"].astype("int").astype("str")).astype(
    "datetime64[Y]"
)
df_new["Production"] = df_new["Production"].astype("float")
df_new["Consumption"] = df_new["Consumption"].astype("float")

In [20]:
# reorder years
df_new = pd.DataFrame(df_new.sort_values(by="Year", ascending=True))
df_new

         Year  Production  Consumption
19 2001-01-01     14808.0      14723.5
18 2002-01-01     16540.0      16465.5
17 2003-01-01     19105.8      19031.6
16 2004-01-01     22033.1      21971.4
15 2005-01-01     25002.6      24940.3
14 2006-01-01     28657.3      28588.0
13 2007-01-01     32815.5      32711.8
12 2008-01-01     34668.8      34541.4
11 2009-01-01     37146.5      37032.2
10 2010-01-01     42071.6      41934.5
9  2011-01-01     47130.2      47000.9
8  2012-01-01     49875.5      49762.6
7  2013-01-01     54316.4      54203.4
6  2014-01-01     57944.6      57829.7
5  2015-01-01     58145.7      58020.0
4  2016-01-01     61331.6      61205.1
3  2017-01-01     66044.5      65914.0
2  2018-01-01     71661.3      71508.2
1  2019-01-01     75034.3      74866.1

In [21]:
# Finally good to goÔºÅÔºÅ üò≠

### Chart: Electricity Supply-Demand Relationship (2001-2019)

In [22]:
# using Altair draw Layered Area Chart for "Outputof Electricity(100 million kw.h)" & "Total Electricity Consumption(100 million kw.h)"

#### First(not very ideal): Eletricity generation & consumption (2001-2019)

In [23]:
base_figure = alt.Chart(df_new).encode(x="Year")
alt.layer(
    base_figure.mark_area(opacity=0.3, color="blue").encode(y="Production:Q"),
    base_figure.mark_area(opacity=0.3, color="red").encode(y="Consumption:Q"),
)
## blue+red=purlple...the result is too similar to be observed

alt.LayerChart(...)

#### Second: Eletricity Surplus in China(generation-consumption) (2001-2019)

In [24]:
# Calculate the Discrepancy so that I can draw the difference
df_new["P-C"] = df_new["Production"] - df_new["Consumption"]
## Second Drawing
base_figure = alt.Chart(df_new).encode(x="Year")
alt.layer(base_figure.mark_area(opacity=0.3, color="green").encode(y="P-C:Q"))

alt.LayerChart(...)

# 3. Power Resources

### web script

In [25]:
url = "https://en.wikipedia.org/wiki/Electricity_sector_in_China#cite_note-:5-26"

In [26]:
page = pd.read_html(url, attrs={"class": "wikitable sortable"})

In [27]:
df_3 = pd.DataFrame(page[0])

In [28]:
df_3.columns

MultiIndex([(           'Year',            'Year'),
            (          'Total',           'Total'),
            (         'Fossil',            'Coal'),
            (         'Fossil',             'Oil'),
            (         'Fossil',             'Gas'),
            (        'Nuclear',         'Nuclear'),
            (      'Renewable',           'Hydro'),
            (      'Renewable',            'Wind'),
            (      'Renewable',        'Solar PV'),
            (      'Renewable',        'Biofuels'),
            (      'Renewable',           'Waste'),
            (      'Renewable',   'Solar thermal'),
            (      'Renewable',     'Geo-thermal'),
            (      'Renewable',            'Tide'),
            ('Total renewable', 'Total renewable'),
            (    '% renewable',     '% renewable')],
           )

### üåü deal with multiIndex issue

In [29]:
# to progress to the next step, I have to convert MultiIndex into a Single one
lst = df_3.values
df_3 = pd.DataFrame(lst, columns=[_[0] for _ in df_3.keys()])
df_3.head()

,Year,Total,Fossil,Fossil,Fossil,Nuclear,Renewable,Renewable,Renewable,Renewable,Renewable,Renewable,Renewable,Renewable,Total renewable,% renewable
0,2008,3481985,2743767,23791,31028,68394,585187,14800,152,14715.0,0.0,0.0,144.0,7.0,615005,17.66%
1,2009,3741961,2940751,16612,50813,70134,615640,26900,279,20700.0,0.0,0.0,125.0,7.0,663651,17.74%
2,2010,4207993,3250409,13236,69027,73880,722172,44622,699,24750.0,9064.0,2.0,125.0,7.0,801441,19.05%
3,2011,4715761,3723315,7786,84022,86350,698945,70331,2604,31500.0,10770.0,6.0,125.0,7.0,814288,17.27%
4,2012,4994038,3785022,6698,85686,97394,872107,95978,6344,33700.0,10968.0,9.0,125.0,7.0,1019238,20.41%

### reorganize the table

In [30]:
df_3 = df_3.drop(columns=["% renewable"])
df_3 = df_3.drop([12])

In [31]:
df_3.columns = (
    ["Year_source"]
    + ["Total"]
    + ["Fossil_1"]
    + ["Fossil_2"]
    + ["Fossil_3"]
    + ["Nuclear"]
    + ["Hydro"]
    + [_ for _ in df_3.columns[7:]]
)
df_3

,Year_source,Total,Fossil_1,Fossil_2,Fossil_3,Nuclear,Hydro,Renewable,Renewable,Renewable,Renewable,Renewable,Renewable,Renewable,Total renewable
0,2008,3481985,2743767,23791,31028,68394,585187,14800,152,14715.0,0.0,0.0,144.0,7.0,615005
1,2009,3741961,2940751,16612,50813,70134,615640,26900,279,20700.0,0.0,0.0,125.0,7.0,663651
2,2010,4207993,3250409,13236,69027,73880,722172,44622,699,24750.0,9064.0,2.0,125.0,7.0,801441
3,2011,4715761,3723315,7786,84022,86350,698945,70331,2604,31500.0,10770.0,6.0,125.0,7.0,814288
4,2012,4994038,3785022,6698,85686,97394,872107,95978,6344,33700.0,10968.0,9.0,125.0,7.0,1019238
5,2013,5447231,4110826,6504,90602,111613,920291,141197,15451,38300.0,12304.0,26.0,109.0,8.0,1127686
6,2014,5678945,4115215,9517,114505,132538,1064337,156078,29195,44437.0,12956.0,34.0,125.0,8.0,1307170
7,2015,5859958,4108994,9679,145346,170789,1130270,185766,45225,52700.0,11029.0,27.0,125.0,8.0,1425180
8,2016,6217907,4241786,10367,170488,213287,1193374,237071,75256,64700.0,11413.0,29.0,125.0,11.0,1581979
9,2017,6452900,4178200,2700,203200,248100,1194700,304600,117800,81300.0,81300.0,NaN,NaN,NaN,1700000
10,2018,6994700,4482900,1500,215500,295000,1232100,365800,176900,93600.0,93600.0,NaN,NaN,NaN,1868400
11,2019,7326900,4553800,1300,232500,348700,1302100,405300,224000,112600.0,112600.0,NaN,NaN,NaN,2044000

In [32]:
# change data type
df_3 = df_3.apply(pd.to_numeric)
df_3["Year_source"] = pd.to_datetime(df_3["Year_source"].astype(str)).astype(
    "datetime64[Y]"
)

In [33]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year_source      12 non-null     datetime64[ns]
 1   Total            12 non-null     int64
 2   Fossil_1         12 non-null     int64
 3   Fossil_2         12 non-null     int64
 4   Fossil_3         12 non-null     int64
 5   Nuclear          12 non-null     int64
 6   Hydro            12 non-null     int64
 7   Renewable        12 non-null     int64
 8   Renewable        12 non-null     int64
 9   Renewable        12 non-null     float64
 10  Renewable        12 non-null     float64
 11  Renewable        9 non-null      float64
 12  Renewable        9 non-null      float64
 13  Renewable        9 non-null      float64
 14  Total renewable  12 non-null     int64
dtypes: datetime64[ns](1), float64(5), int64(9)
memory usage: 1.5 KB

In [34]:
# calculate total fossil category
df_3["Total fossil"] = df_3["Fossil_1"] + df_3["Fossil_2"] + df_3["Fossil_3"]

In [35]:
# extract the target data
df_3new = df_3.loc[
    :, ["Year_source", "Total fossil", "Nuclear", "Hydro"],
]
df_3new

   Year_source  Total fossil  Nuclear    Hydro
0   2008-01-01       2798586    68394   585187
1   2009-01-01       3008176    70134   615640
2   2010-01-01       3332672    73880   722172
3   2011-01-01       3815123    86350   698945
4   2012-01-01       3877406    97394   872107
5   2013-01-01       4207932   111613   920291
6   2014-01-01       4239237   132538  1064337
7   2015-01-01       4264019   170789  1130270
8   2016-01-01       4422641   213287  1193374
9   2017-01-01       4384100   248100  1194700
10  2018-01-01       4699900   295000  1232100
11  2019-01-01       4787600   348700  1302100

### Chart: Electricity Production By Source (2008-2019)

In [36]:
base_3figure = alt.Chart(df_3new).encode(x="Year_source")
alt.layer(
    base_3figure.mark_area(opacity=0.3, color="orange").encode(y="Total fossil:Q"),
    base_3figure.mark_area(opacity=0.3, color="red").encode(y="Nuclear:Q"),
    base_3figure.mark_area(opacity=0.3, color="green").encode(y="Hydro:Q"),
)

alt.LayerChart(...)

___

## This class has been such a great journey:)