# Preparation

In [1]:
%load_ext lab_black
import pandas as pd
import altair as alt

___

# 1.Electricity generation & consumption from 2011 to 2019

## 1.1 Electricity generation by source (yearly)

####### Link:https://en.wikipedia.org/wiki/Electricity_sector_in_China#cite_note-:5-26
####### Description:with "Electricity production (GWh) in China by source, 2008-2020" from Wikipedia, I will calculate the percentage of each category (fossil, nuclear and renewable) among the total. Then I would like to draw a normalized stacked area chart to see the trend of proportion of electricity generated by different categories

### web script

In [8]:
url_es = "https://en.wikipedia.org/wiki/Electricity_sector_in_China#cite_note-:5-26"

In [9]:
page_es = pd.read_html(url_es, attrs={"class": "wikitable sortable"})

In [10]:
df_es = pd.DataFrame(page_es[0])

In [11]:
df_es

    Year    Total         Fossil                               Nuclear  \
    Year    Total           Coal            Oil            Gas Nuclear
0   2008  3481985        2743767          23791          31028   68394
1   2009  3741961        2940751          16612          50813   70134
2   2010  4207993        3250409          13236          69027   73880
3   2011  4715761        3723315           7786          84022   86350
4   2012  4994038        3785022           6698          85686   97394
5   2013  5447231        4110826           6504          90602  111613
6   2014  5678945        4115215           9517         114505  132538
7   2015  5859958        4108994           9679         145346  170789
8   2016  6217907        4241786          10367         170488  213287
9   2017  6452900        4178200           2700         203200  248100
10  2018  6994700        4482900           1500         215500  295000
11  2019  7326900        4553800           1300         232500  348700
12  2020  7623600  5,174,300[29]  5,174,300[29]  5,174,300[29]  366200

   Renewable                                                                 \
       Hydro    Wind Solar PV  Biofuels     Waste Solar thermal Geo-thermal
0     585187   14800      152   14715.0       0.0           0.0       144.0
1     615640   26900      279   20700.0       0.0           0.0       125.0
2     722172   44622      699   24750.0    9064.0           2.0       125.0
3     698945   70331     2604   31500.0   10770.0           6.0       125.0
4     872107   95978     6344   33700.0   10968.0           9.0       125.0
5     920291  141197    15451   38300.0   12304.0          26.0       109.0
6    1064337  156078    29195   44437.0   12956.0          34.0       125.0
7    1130270  185766    45225   52700.0   11029.0          27.0       125.0
8    1193374  237071    75256   64700.0   11413.0          29.0       125.0
9    1194700  304600   117800   81300.0   81300.0           NaN         NaN
10   1232100  365800   176900   93600.0   93600.0           NaN         NaN
11   1302100  405300   224000  112600.0  112600.0           NaN         NaN
12   1355200  466500   261100       NaN       NaN           NaN         NaN

         Total renewable % renewable
    Tide Total renewable % renewable
0    7.0          615005      17.66%
1    7.0          663651      17.74%
2    7.0          801441      19.05%
3    7.0          814288      17.27%
4    7.0         1019238      20.41%
5    8.0         1127686      20.70%
6    8.0         1307170      23.02%
7    8.0         1425180      24.32%
8   11.0         1581979      25.44%
9    NaN         1700000      26.34%
10   NaN         1868400      26.71%
11   NaN         2044000      27.76%
12   NaN   2,082,800[30]      27.32%

### ðŸŒŸ deal with multiIndex issue

In [12]:
# to progress to the next step, I have to convert MultiIndex into a Single one
lst = df_es.values
df_es = pd.DataFrame(lst, columns=[_[1] for _ in df_es.keys()])

In [13]:
df_es.columns = df_es.columns.str.strip().str.lower()

In [14]:
# clean data
df_es["coal"] = (
    df_es["coal"]
    .str.strip()
    .str.title()
    .str.replace("[29]", "", regex=False)
    .str.replace(",", "", regex=False)
)
df_es["oil"] = (
    df_es["oil"]
    .str.strip()
    .str.title()
    .str.replace("[29]", "", regex=False)
    .str.replace(",", "", regex=False)
)
df_es["gas"] = (
    df_es["gas"]
    .str.strip()
    .str.title()
    .str.replace("[29]", "", regex=False)
    .str.replace(",", "", regex=False)
)
df_es["total renewable"] = (
    df_es["gas"]
    .str.strip()
    .str.title()
    .str.replace("[30]", "", regex=False)
    .str.replace(",", "", regex=False)
)

### calculate the percentage

In [15]:
# convert all columns into integer type so that I can calculate
df_es.drop(columns=["% renewable"], inplace=True)
df_es = df_es.apply(pd.to_numeric)

In [16]:
# Also, I need to set year as an index
df_es = df_es.set_index("year")

In [17]:
df_es["% coal"] = (df_es["coal"]) / df_es["total"] * 100
df_es["% oil"] = (df_es["oil"]) / df_es["total"] * 100
df_es["% gas"] = (df_es["gas"]) / df_es["total"] * 100
df_es["% nuclear"] = (df_es["nuclear"]) / df_es["total"] * 100
df_es["% hydro"] = (df_es["hydro"]) / df_es["total"] * 100
df_es["% wind"] = (df_es["wind"]) / df_es["total"] * 100
df_es["% solar pv"] = (df_es["solar pv"]) / df_es["total"] * 100
df_es["% biofuels"] = (df_es["biofuels"]) / df_es["total"] * 100
df_es["% waste"] = (df_es["waste"]) / df_es["total"] * 100
df_es["% others"] = (
    (df_es["solar thermal"] + df_es["geo-thermal"] + df_es["tide"])
    / df_es["total"]
    * 100
)
df_es

,total,coal,oil,gas,nuclear,hydro,wind,solar pv,biofuels,waste,...,% coal,% oil,% gas,% nuclear,% hydro,% wind,% solar pv,% biofuels,% waste,% others
year,,,,,,,,,,,,,,,,,,,,,
2008,3481985,2743767,23791,31028,68394,585187,14800,152,14715.0,0.0,...,78.798932,0.683260,0.891101,1.964224,16.806132,0.425045,0.004365,0.422604,0.000000,0.004337
2009,3741961,2940751,16612,50813,70134,615640,26900,279,20700.0,0.0,...,78.588499,0.443938,1.357924,1.874258,16.452336,0.718874,0.007456,0.553186,0.000000,0.003528
2010,4207993,3250409,13236,69027,73880,722172,44622,699,24750.0,9064.0,...,77.243688,0.314544,1.640378,1.755706,17.161911,1.060411,0.016611,0.588166,0.215400,0.003184
2011,4715761,3723315,7786,84022,86350,698945,70331,2604,31500.0,10770.0,...,78.954701,0.165106,1.781727,1.831094,14.821468,1.491403,0.055219,0.667973,0.228383,0.002926
2012,4994038,3785022,6698,85686,97394,872107,95978,6344,33700.0,10968.0,...,75.790813,0.134120,1.715766,1.950205,17.462963,1.921852,0.127031,0.674805,0.219622,0.002823
2013,5447231,4110826,6504,90602,111613,920291,141197,15451,38300.0,12304.0,...,75.466342,0.119400,1.663267,2.048986,16.894657,2.592088,0.283649,0.703110,0.225876,0.002625
2014,5678945,4115215,9517,114505,132538,1064337,156078,29195,44437.0,12956.0,...,72.464428,0.167584,2.016308,2.333849,18.741809,2.748363,0.514092,0.782487,0.228141,0.002941
2015,5859958,4108994,9679,145346,170789,1130270,185766,45225,52700.0,11029.0,...,70.119854,0.165172,2.480325,2.914509,19.288022,3.170091,0.771763,0.899324,0.188210,0.002730
2016,6217907,4241786,10367,170488,213287,1193374,237071,75256,64700.0,11413.0,...,68.218872,0.166728,2.741887,3.430206,19.192535,3.812714,1.210311,1.040543,0.183551,0.002654
2017,6452900,4178200,2700,203200,248100,1194700,304600,117800,81300.0,81300.0,...,64.749183,0.041842,3.148972,3.844783,18.514156,4.720358,1.825536,1.259899,1.259899,NaN
2018,6994700,4482900,1500,215500,295000,1232100,365800,176900,93600.0,93600.0,...,64.089954,0.021445,3.080904,4.217479,17.614765,5.229674,2.529058,1.338156,1.338156,NaN
2019,7326900,4553800,1300,232500,348700,1302100,405300,224000,112600.0,112600.0,...,62.151797,0.017743,3.173238,4.759175,17.771500,5.531671,3.057227,1.536803,1.536803,NaN
2020,7623600,5174300,5174300,5174300,366200,1355200,466500,261100,NaN,NaN,...,67.872134,67.872134,67.872134,4.803505,17.776379,6.119156,3.424891,NaN,NaN,NaN

### ðŸŒŸ draw a normalized stacked area chart

In [18]:
# selcet needed data

In [19]:
pct_es = df_es[
    [
        "% coal",
        "% oil",
        "% gas",
        "% nuclear",
        "% hydro",
        "% wind",
        "% solar pv",
        "% biofuels",
        "% waste",
        "% others",
    ]
]
pct_es = pct_es.reset_index()

pct_es

,year,% coal,% oil,% gas,% nuclear,% hydro,% wind,% solar pv,% biofuels,% waste,% others
0,2008,78.798932,0.683260,0.891101,1.964224,16.806132,0.425045,0.004365,0.422604,0.000000,0.004337
1,2009,78.588499,0.443938,1.357924,1.874258,16.452336,0.718874,0.007456,0.553186,0.000000,0.003528
2,2010,77.243688,0.314544,1.640378,1.755706,17.161911,1.060411,0.016611,0.588166,0.215400,0.003184
3,2011,78.954701,0.165106,1.781727,1.831094,14.821468,1.491403,0.055219,0.667973,0.228383,0.002926
4,2012,75.790813,0.134120,1.715766,1.950205,17.462963,1.921852,0.127031,0.674805,0.219622,0.002823
5,2013,75.466342,0.119400,1.663267,2.048986,16.894657,2.592088,0.283649,0.703110,0.225876,0.002625
6,2014,72.464428,0.167584,2.016308,2.333849,18.741809,2.748363,0.514092,0.782487,0.228141,0.002941
7,2015,70.119854,0.165172,2.480325,2.914509,19.288022,3.170091,0.771763,0.899324,0.188210,0.002730
8,2016,68.218872,0.166728,2.741887,3.430206,19.192535,3.812714,1.210311,1.040543,0.183551,0.002654
9,2017,64.749183,0.041842,3.148972,3.844783,18.514156,4.720358,1.825536,1.259899,1.259899,NaN
10,2018,64.089954,0.021445,3.080904,4.217479,17.614765,5.229674,2.529058,1.338156,1.338156,NaN
11,2019,62.151797,0.017743,3.173238,4.759175,17.771500,5.531671,3.057227,1.536803,1.536803,NaN
12,2020,67.872134,67.872134,67.872134,4.803505,17.776379,6.119156,3.424891,NaN,NaN,NaN

___

In [20]:
# since I have no idea bout how to draw this chart, I need to refer to others' dataset to see how they make it.
!pip install vega_datasets
from vega_datasets import data

Requirement already satisfied: vega_datasets in /Users/songwenhui/opt/anaconda3/lib/python3.8/site-packages (0.9.0)
Requirement already satisfied: pandas in /Users/songwenhui/opt/anaconda3/lib/python3.8/site-packages (from vega_datasets) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/songwenhui/opt/anaconda3/lib/python3.8/site-packages (from pandas->vega_datasets) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/songwenhui/opt/anaconda3/lib/python3.8/site-packages (from pandas->vega_datasets) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/songwenhui/opt/anaconda3/lib/python3.8/site-packages (from pandas->vega_datasets) (1.20.1)
Requirement already satisfied: six>=1.5 in /Users/songwenhui/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->vega_datasets) (1.15.0)

In [21]:
data.stocks()
# now, I figure out that I need to reorganize my data

    symbol       date   price
0     MSFT 2000-01-01   39.81
1     MSFT 2000-02-01   36.35
2     MSFT 2000-03-01   43.22
3     MSFT 2000-04-01   28.37
4     MSFT 2000-05-01   25.45
..     ...        ...     ...
555   AAPL 2009-11-01  199.91
556   AAPL 2009-12-01  210.73
557   AAPL 2010-01-01  192.06
558   AAPL 2010-02-01  204.62
559   AAPL 2010-03-01  223.02

[560 rows x 3 columns]

___

### ðŸ˜·need some time to figure it out

# 1.2 Electricity dicrepancy (yearly)

# 1.3.1 2021 electricity generation by source(monthly)

# 1.3.2 2021 electricity discrepancy(monthly)