# IMPORT DATA

In [1]:
import pandas as pd
import numpy as np

# READ DATA

In [2]:
pd.read_csv("./t2020.csv")

,StateAbbr,StateDesc,CountyName,CountyFIPS,TotalPopulation,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ACCESS2_AdjPrev,ACCESS2_Adj95CI,ARTHRITIS_CrudePrev,...,SLEEP_Adj95CI,STROKE_CrudePrev,STROKE_Crude95CI,STROKE_AdjPrev,STROKE_Adj95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,TEETHLOST_AdjPrev,TEETHLOST_Adj95CI,Geolocation
0,OK,Oklahoma,Jackson,40065,"24,949",20.7,"(18.3, 23.4)",20.9,"(18.5, 23.7)",27.7,...,"(36.4, 39.0)",3.7,"( 3.3, 4.1)",3.4,"( 3.1, 3.8)",18.6,"(12.7, 25.4)",18.8,"(12.8, 25.5)",POINT (-99.41467445 34.58811786)
1,IL,Illinois,Lawrence,17101,"15,765",15.7,"(13.5, 18.3)",16.0,"(13.7, 18.7)",30.2,...,"(35.4, 38.3)",3.9,"( 3.5, 4.4)",3.5,"( 3.1, 3.9)",17.1,"(11.4, 23.9)",17.2,"(11.5, 24.1)",POINT (-87.72684251 38.7203392)
2,KS,Kansas,Barton,20009,"26,111",17.5,"(15.0, 20.3)",18.5,"(16.0, 21.4)",30.5,...,"(32.8, 35.6)",4.0,"( 3.6, 4.6)",3.2,"( 2.9, 3.6)",17.1,"(11.3, 23.5)",17.2,"(11.4, 23.3)",POINT (-98.75632156 38.478934)
3,AK,Alaska,Anchorage,2020,"291,538",12.8,"(11.2, 14.6)",12.8,"(11.2, 14.7)",21.8,...,"(33.2, 35.5)",2.6,"( 2.4, 2.9)",2.7,"( 2.5, 3.0)",11.7,"( 8.3, 16.0)",12.2,"( 8.6, 16.8)",POINT (-149.1141071 61.1504589)
4,OK,Oklahoma,Stephens,40137,"43,265",17.5,"(15.0, 20.1)",18.4,"(15.7, 21.2)",33.2,...,"(35.8, 38.7)",4.4,"( 4.0, 4.9)",3.5,"( 3.2, 3.8)",20.4,"(14.4, 26.8)",20.6,"(14.6, 27.1)",POINT (-97.85149263 34.485439)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,KY,Kentucky,Carter,21043,"27,004",11.5,"( 9.2, 14.1)",12.1,"( 9.6, 14.8)",40.6,...,"(42.8, 46.4)",4.9,"( 4.3, 5.5)",4.0,"( 3.5, 4.5)",27.2,"(18.9, 36.7)",27.7,"(19.2, 37.0)",POINT (-83.04983435 38.31844184)
3138,MS,Mississippi,DeSoto,28033,"182,001",16.7,"(14.4, 19.0)",17.1,"(14.8, 19.6)",28.0,...,"(35.5, 38.2)",3.2,"( 2.9, 3.5)",3.1,"( 2.8, 3.4)",13.8,"( 9.3, 18.5)",14.2,"( 9.5, 19.4)",POINT (-89.99137922 34.87557805)
3139,NY,New York,Richmond,36085,"476,179",13.3,"(11.5, 15.1)",13.8,"(11.9, 15.8)",27.0,...,"(42.3, 44.8)",3.1,"( 2.8, 3.4)",2.7,"( 2.4, 3.0)",15.0,"(10.1, 21.0)",15.3,"(10.5, 21.4)",POINT (-74.15238026 40.58072907)
3140,KS,Kansas,Saline,20169,"54,401",16.2,"(13.8, 18.7)",16.9,"(14.2, 19.7)",27.3,...,"(31.0, 33.8)",3.5,"( 3.1, 4.0)",2.9,"( 2.6, 3.3)",14.0,"( 9.1, 20.1)",14.1,"( 9.2, 20.0)",POINT (-97.64993321 38.78398051)
3141,TX,Texas,Wise,48497,"68,305",22.7,"(19.6, 25.8)",23.9,"(20.5, 27.1)",26.3,...,"(34.2, 36.9)",3.6,"( 3.2, 4.0)",3.1,"( 2.8, 3.5)",15.3,"(10.5, 20.9)",15.7,"(10.7, 21.7)",POINT (-97.65436631 33.21591466)

# Run Descriptives

In [3]:
Descriptive_list=pd.read_csv("./t2020.csv")

In [4]:
Descriptive_list.head

<bound method NDFrame.head of      StateAbbr    StateDesc CountyName  CountyFIPS TotalPopulation  \
0           OK     Oklahoma    Jackson       40065          24,949
1           IL     Illinois   Lawrence       17101          15,765
2           KS       Kansas     Barton       20009          26,111
3           AK       Alaska  Anchorage        2020         291,538
4           OK     Oklahoma   Stephens       40137          43,265
...        ...          ...        ...         ...             ...
3137        KY     Kentucky     Carter       21043          27,004
3138        MS  Mississippi     DeSoto       28033         182,001
3139        NY     New York   Richmond       36085         476,179
3140        KS       Kansas     Saline       20169          54,401
3141        TX        Texas       Wise       48497          68,305

      ACCESS2_CrudePrev ACCESS2_Crude95CI  ACCESS2_AdjPrev ACCESS2_Adj95CI  \
0                  20.7      (18.3, 23.4)             20.9    (18.5, 23.7)
1                  15.7      (13.5, 18.3)             16.0    (13.7, 18.7)
2                  17.5      (15.0, 20.3)             18.5    (16.0, 21.4)
3                  12.8      (11.2, 14.6)             12.8    (11.2, 14.7)
4                  17.5      (15.0, 20.1)             18.4    (15.7, 21.2)
...                 ...               ...              ...             ...
3137               11.5      ( 9.2, 14.1)             12.1    ( 9.6, 14.8)
3138               16.7      (14.4, 19.0)             17.1    (14.8, 19.6)
3139               13.3      (11.5, 15.1)             13.8    (11.9, 15.8)
3140               16.2      (13.8, 18.7)             16.9    (14.2, 19.7)
3141               22.7      (19.6, 25.8)             23.9    (20.5, 27.1)

      ARTHRITIS_CrudePrev  ... SLEEP_Adj95CI  STROKE_CrudePrev  \
0                    27.7  ...  (36.4, 39.0)               3.7
1                    30.2  ...  (35.4, 38.3)               3.9
2                    30.5  ...  (32.8, 35.6)               4.0
3                    21.8  ...  (33.2, 35.5)               2.6
4                    33.2  ...  (35.8, 38.7)               4.4
...                   ...  ...           ...               ...
3137                 40.6  ...  (42.8, 46.4)               4.9
3138                 28.0  ...  (35.5, 38.2)               3.2
3139                 27.0  ...  (42.3, 44.8)               3.1
3140                 27.3  ...  (31.0, 33.8)               3.5
3141                 26.3  ...  (34.2, 36.9)               3.6

     STROKE_Crude95CI  STROKE_AdjPrev STROKE_Adj95CI  TEETHLOST_CrudePrev  \
0        ( 3.3,  4.1)             3.4   ( 3.1,  3.8)                 18.6
1        ( 3.5,  4.4)             3.5   ( 3.1,  3.9)                 17.1
2        ( 3.6,  4.6)             3.2   ( 2.9,  3.6)                 17.1
3        ( 2.4,  2.9)             2.7   ( 2.5,  3.0)                 11.7
4        ( 4.0,  4.9)             3.5   ( 3.2,  3.8)                 20.4
...               ...             ...            ...                  ...
3137     ( 4.3,  5.5)             4.0   ( 3.5,  4.5)                 27.2
3138     ( 2.9,  3.5)             3.1   ( 2.8,  3.4)                 13.8
3139     ( 2.8,  3.4)             2.7   ( 2.4,  3.0)                 15.0
3140     ( 3.1,  4.0)             2.9   ( 2.6,  3.3)                 14.0
3141     ( 3.2,  4.0)             3.1   ( 2.8,  3.5)                 15.3

     TEETHLOST_Crude95CI  TEETHLOST_AdjPrev TEETHLOST_Adj95CI  \
0           (12.7, 25.4)               18.8      (12.8, 25.5)
1           (11.4, 23.9)               17.2      (11.5, 24.1)
2           (11.3, 23.5)               17.2      (11.4, 23.3)
3           ( 8.3, 16.0)               12.2      ( 8.6, 16.8)
4           (14.4, 26.8)               20.6      (14.6, 27.1)
...                  ...                ...               ...
3137        (18.9, 36.7)               27.7      (19.2, 37.0)
3138        ( 9.3, 18.5)               14.2      ( 9.5, 19.4)
3139        (10.1, 21.0)               15.3      (10.5, 21.4)
3140        ( 9.1, 20.1)               14.1      ( 9.2, 20.0)
3141        (10.5, 20.9)               15.7      (10.7, 21.7)

                           Geolocation
0     POINT (-99.41467445 34.58811786)
1      POINT (-87.72684251 38.7203392)
2       POINT (-98.75632156 38.478934)
3      POINT (-149.1141071 61.1504589)
4       POINT (-97.85149263 34.485439)
...                                ...
3137  POINT (-83.04983435 38.31844184)
3138  POINT (-89.99137922 34.87557805)
3139  POINT (-74.15238026 40.58072907)
3140  POINT (-97.64993321 38.78398051)
3141  POINT (-97.65436631 33.21591466)

[3142 rows x 118 columns]>

In [5]:
Descriptive_list.StateAbbr

0       OK
1       IL
2       KS
3       AK
4       OK
        ..
3137    KY
3138    MS
3139    NY
3140    KS
3141    TX
Name: StateAbbr, Length: 3142, dtype: object

In [6]:
Descriptive_list.StateAbbr.value_counts()
#the frequency of each state in the file

TX    254
GA    159
VA    133
KY    120
MO    115
KS    105
IL    102
NC    100
IA     99
TN     95
NE     93
IN     92
OH     88
MN     87
MI     83
MS     82
OK     77
AR     75
WI     72
PA     67
FL     67
AL     67
SD     66
LA     64
CO     64
NY     62
CA     58
MT     56
WV     55
ND     53
SC     46
ID     44
WA     39
OR     36
NM     33
AK     29
UT     29
MD     24
WY     23
NJ     21
NV     17
ME     16
AZ     15
MA     14
VT     14
NH     10
CT      8
HI      5
RI      5
DE      3
DC      1
Name: StateAbbr, dtype: int64


---

#### Thanks for your patience

##### Wenhui Song